<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
  <div class="wrapper">
      
    <!-- HEADER -->
    <?php
        require_once __DIR__ . '/header.php';
    ?>

    <div class="container">
      <div class="row">

        <div class="col-md-12 p-b-20">
          <h2>Escreva seu post</h2>
        </div>

        <div class="col-md-12">
          <form action="create" method="POST">
            <div class="form-group">
              <label for="title">Título</label>
              <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Título">
            </div>
            <div class="form-group">
              <label for="description">Descrição</label>
              <textarea class="form-control" id="description" name="description" rows="15"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <?php
        require_once __DIR__ . '/footer.html';
    ?>

  </div>
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/active.js"></script>
</body>

</html>